/* Color Reference */
/* #294F49 - green used  */


body{
  /* display: flex;
  flex-direction: column; */
  /*justify-content: space-around;*/
  background-color: #fafafa;   /*day mode is fafafa, night mode is #0c0c0c*/
  hyphens: auto;
}

p{
  font-family: 'Karla', sans-serif;
  size: 0.4em;
  line-height: 1.6em;
  hyphens: auto;
}

li,a{
  font-family: 'Karla', sans-serif;
}

h1,h2,h3,h4{
  font-family: 'Lora', serif;
  margin-bottom: 20px;
}

/* Link Hover State */
a:hover{
  text-decoration: none;
}

hr{
  margin-left: 4vw;
  margin-right: 4vw;
}

div{
  display: flex;
}

*.white{
  color: #fafafa
}

*.black{
  color: #0c0c0c
}

.container{
  margin: auto;
  padding: 30px;
}

#svgs-main{
  max-width: 80%;
  max-height: 80%;
}

#sq-all-red, #sq-all-blue, #sq-all-green, #sq-all-yellow, #sq-all-magenta{
  opacity: 0.3;
  -webkit-transition: opacity 0.05s;
  transition: opacity 0.05s;
}

#sq-all-red:hover, #sq-all-blue:hover, #sq-all-green:hover, #sq-all-yellow:hover, #sq-all-magenta:hover{
  opacity: 1;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  stroke: #ed1c24 !important;
}

svg|a:link, svg|a:visited {
  cursor: pointer;
}

img.icon{
  border: 4px solid transparent;
  max-width: 50%;
  height: auto;
  max-height: 50%;
  border-radius: 50%;
}

img.carrie{
  border-color: #2e3192;
}
img.nate{
  border-color: #ed1c24;
}
img.jane{
  border-color: #009245;
}
img.anya{
  border-color: #ff00ff;
}
img.victoria{
  border-color: #fcee21;
}

img.carrie:hover, img.nate:hover, img.jane:hover, img.anya:hover, img.victoria:hover{
  transform: scale(1.05);
}

/* Pull Quote CSS */
#carrie, #carrie-active:hover{
  border-left-color: #2e3192;
}

#carrie-active:hover{
  color: #2e3192;
}

#nate, #nate-active:hover{
  border-left-color: #ed1c24;
}
#nate-active:hover{
  color: #ed1c24;
}

#jane, #jane-active:hover{
  border-left-color: #009245;
}
#jane-active:hover{
  color: #009245;
}

#anya, #anya-active:hover{
  border-left-color: #ff00ff;
}
#anya-active:hover{
  color: #ff00ff;
}

#victoriagrace, #victoriagrace-active:hover{
  border-left-color: #fcee21;
}
#victoriagrace-active:hover{
  color: #fcee21;
}
/* End Pull Out Quote CSS */

/*Bio Splash Header CSS*/
#bio-splash-nate{
  background-image: url("images/bios/nate-splash-dark.jpg");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

#bio-splash-jane{
  background-image: url("images/bios/jane-splash-dark.jpg");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

#bio-splash-vg{
  background-image: url("images/bios/vg-splash-dark.jpg");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

#bio-splash-carrie{
  background-image: url("images/bios/carrie-splash-dark.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#bio-splash-anya{
  background-image: url("images/bios/anya-splash-dark.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
/*End Bio Splash Header CSS*/

img.icon:hover{
  cursor: pointer;
}

.section1 {
  height: 100vh;
  /* background-color: rgb(69, 111, 225) */
}

.navbar{
  margin:0;
  padding: 0;
}

.nav-container{
  margin-top: 0px;
  height: 50px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  width: 100vw;
  z-index: 99 !important;
}

.nav-container-bio{
  margin-top: 0px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101010;
  width: 100vw;
  z-index: 99 !important;
  transition: background-color 0.33s !important;
  /*box-shadow: 0px 25px 5px 5px #0c0c0c;*/
}

.nav-container-bio.scrolled{
  transition: background-color 0.33s !important;
  background-color: #fafafa;
  /* box-shadow: 0px 5px 5px 5px #fafafa; */
}

.nav-link{
  color: lightgray;
}

:hover.nav-link{
  color:#294F49;
}

.nav-link.active {
  color: #294F49 !important;
}

h2{
  text-align: center;
  color: #324E49;
  font-size: 2.3em;
  margin: 40px;
}

.flex-column{
  width: 100%;
}

.col-md-6,.col-md-2{
  padding-left:0;
}


.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.blockquote-footer{
  font-family: 'Karla', sans-serif;
}


.footer{
  /*opacity: 100%;*/
  justify-content: center;
  align-items: center;
  text-align: center;
  color: lightgray;

}

#progress-tracker{

}

#squiggle-footer{
  opacity: 0.3;
  margin-top: 5px;
  max-height: 50px;
  object-fit: contain;
  pointer-events: none;
}

.footer-link{
  color: black;
}

.footer-link:hover{
  color: #294F49;
}

#footer-ppl{
  color: grey;
}
#footer-ppl:hover{
  color: #294F49;
}

#end-links{
  margin-top: 15vh;
}



/* Custom Scroll Bar */
/* http://beautifulpixels.com/goodies/create-custom-webkit-scrollbar/
https://gist.github.com/wookiehangover/811763 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  margin-top: 0;
}

/* Reference for Scroll bar: https://css-tricks.com/css-scrollbar-with-progress-meter/ */
:root {
  --shadow: black;
  --scrollbarBG: #fafafa;
  --thumbBG: black;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  box-shadow: 0 -100vh 0 100vh var(--shadow), 0 0 0px 5px black;
}


/* View Port Adjustments  */

@media (max-width: 700px) {
  .nav-container{
    display: none;
    /* eventually change this so that nav bar adjusts to smaller viewport */
  }
  .footer{
    display: none;
  }
}

@media (max-width: 980px) {
    #image-chunk{
      display: none;
    }
}
