body{
  /* display: flex;
  flex-direction: column; */
  /*justify-content: space-around;*/
  background-color: #fafafa;   /*day mode is fafafa, night mode is #0c0c0c*/
}

div{
  display: flex;
}

*.white{
  color: #fafafa
}

*.black{
  color: #0c0c0c
}

.container{
  margin: auto;
  padding: 30px;
}

#svgs-main{
  max-width: 80%;
  max-height: 80%;
}

svg|a:link, svg|a:visited {
  cursor: pointer;
}

img.icon{
  border: 2px solid transparent;
  max-width: 80%;
  height: auto;
  max-height: 50%;
  border-radius: 50%;

}

img.nate{
  border-color: #ed1c24;
}

img.carrie{
  border-color: #2e3192;
}

img.victoria{
  border-color: #fcee21;
}

img.anya{
  border-color: #ff00ff;
}

img.jane{
  border-color: #009245;
}

img.icon:hover{
  cursor: pointer;
}

.section1 {
  height: 100vh;
  background-color: rgb(69, 111, 225)
}

.navbar{
  position: fixed;
}
